<div class="board-container">
    <h1 class="title">
        Chex
    </h1>
    <app-board #board></app-board>
    <div class="player-indicator-container">
        <div class="player-indicator" [style.background-color]="playerColor"></div>
    </div>
    <div class="menu-container">
        <div class="menu-button" (click)="toggleMenu()">
            <img src="../assets/images/svg/list.bullet.svg" alt="menu">
        </div>
        <div class="items-container" *ngIf="showMenu">
            <a class="menu-item show" routerLink="/rules" target="_blank">
                <img src="../assets/images/svg/book.closed.svg" class="smaller" alt="rules">
            </a>
            <div class="menu-item show" (click)="restart()">
                <img *ngIf="!confirmingRestart" src="../assets/images/svg/arrow.triangle.2.circlepath.svg" alt="restart">
                <img *ngIf="confirmingRestart" class="smaller" src="../assets/images/svg/checkmark.svg" alt="restart">
            </div>
            <div class="menu-item show" (click)="undo()">
                <img src="../assets/images/svg/arrow.uturn.left.svg" class="smaller" alt="undo">
            </div>
        </div>
    </div>
</div>